<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <%= button_link_to "New Brand", spree.new_admin_brand_path, :icon => 'add' %>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:listing_owners_and_brands) %></h1>

<table class="index" id="listing_brands">
  <thead>
    <tr>
      <th>Brand Owners</th>
      <th>Brand</th>
      <th style="width:150px;"><%= t(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @brand_owners.each do |owner| %>
      <% owner.brands.each do |brand| %>
        <tr id="spree_brand_<%= brand.id %>">
          <td><%= owner.title %></td>
          <td><%= brand.title %></td>
          <td>
            <%= link_to_delete brand %> &nbsp;
            <%= link_to_edit brand %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
