<% if controller.controller_name == "orders" && controller.action_name == "show" %>
  <% if flash[:commerce_tracking] %>
    <% 
      prices = 0
      quantities = []
      product_names = []
      @order.line_items.each do |li|
        if li.product.taxons.map(&:name).include? 'Grand Marnier'
          prices += li.price
          quantities << li.quantity
          product_names << li.product.name.gsub(' ','+').gsub("'","")
        end
      end
      quantities = quantities.sum
      product_names = product_names.join('|')
    %>
    <% unless product_names.empty? %>
      <% "<!--
      Start of DoubleClick Floodlight Tag: Please do not remove
      Activity name of this tag: ECM_ReserveBarSale_2014-11-24_Step 4
      URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/success
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 03/16/2015
      -->".html_safe %>
      <iframe src="https://4100393.fls.doubleclick.net/activityi;src=4100393;type=lml_c00;cat=ecm_r0;qty=1;cost=<%= number_to_currency(prices) %>;u4=<%= product_names %>;u5=<%= quantities %>;u6=<%= number_to_currency(prices) %>;u7=<%= @order.number %>;u8=<%= @order.ship_address.city.gsub(' ','+') %>;u9=<%= @order.ship_address.state.abbr %>;ord=<%= @order.number %>?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      <% "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
    <% end %>
  <% end %>
<% end %>
