<% if controller.controller_name == "taxons" && controller.action_name == "show" %>
  <% if @taxon.permalink.include?("type/gifts/gifts-by-holiday") %>
    <% case @taxon.name %>
      <% when 'Gifts by Holiday' %>
        <%= "<!--
        Start of DoubleClick Floodlight Tag: Please do not remove
        Activity name of this tag: Reserve Bar_Holiday Front
        URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/t/type/gifts/gifts-by-holiday
        This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
        Creation Date: 04/09/2014
        -->".html_safe %>
        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser00;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        </script>
        <noscript>
        <iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser00;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        </noscript>
        <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
      <% when "Father's Day" %>
        <%= "<!--
        Start of DoubleClick Floodlight Tag: Please do not remove
        Activity name of this tag: Reserve Bar_Fathers Day
        URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/t/type/gifts/gifts-by-holiday/fathers-day
        This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
        Creation Date: 04/09/2014
        -->".html_safe %>
        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser0;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        </script>
        <noscript>
        <iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser0;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        </noscript>
        <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
      <% when 'Cinco de Mayo' %>
        <%= "<!--
        Start of DoubleClick Floodlight Tag: Please do not remove
        Activity name of this tag: Reserve Bar_Cinco De Mayo
        URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/t/type/gifts/gifts-by-holiday/cinco-de-mayo
        This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
        Creation Date: 04/09/2014
        -->".html_safe %>
        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser000;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        </script>
        <noscript>
        <iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser000;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        </noscript>
        <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
    <% end %>
  <% end %>
<% end %>
