<% if controller.controller_name == "orders" && controller.action_name == "show" %>
  <% if flash[:commerce_tracking] %>
    <% if @order.line_items.map(&:product).map(&:permalink).uniq.include? 'oak-by-absolut' %>
      <%= "<!--
      Start of DoubleClick Floodlight Tag: Please do not remove
      Activity name of this tag: Oak FY-16 Reserve Bar Confirmation Page
      URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 10/07/2015
      -->".html_safe %>
      <script type="text/javascript">
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="https://4533689.fls.doubleclick.net/activityi;src=4533689;type=absol000;cat=absol006;u3=<%= @order.bill_address.city.gsub(' ','+') %>;u2=<%= @order.number %>;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="https://4533689.fls.doubleclick.net/activityi;src=4533689;type=absol000;cat=absol006;u3=<%= @order.bill_address.city.gsub(' ','+') %>;u2=<%= @order.number %>;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
      <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
      <%= "<!-- Google Code for Sales from ReserveBar Conversion Page -->".html_safe %>
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 950830185;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "3g9nCKqz_1wQ6YiyxQM";
        var google_conversion_value = 1.00;
        var google_conversion_currency = "USD";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/950830185/?value=1.00&amp;currency_code=USD&amp;label=3g9nCKqz_1wQ6YiyxQM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    <% end %>
  <% end %>
<% end %>
